name: move new, edited, reopened issues to DCC Enginnering project

on:
  issues:
    types: [opened, edited, reopened]
jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/t3-innovation-network/projects/5
          github-token: ${{ secrets.PROJECTS_ACCESS_TOKEN }}
